apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ ansible_operator_meta.name }}"
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  replicas: {{ size | int }}
  selector:
    matchLabels:
      app: "{{ ansible_operator_meta.name }}"
  strategy: {}
  template:
    metadata:
      labels:
        app: "{{ ansible_operator_meta.name }}"
    spec:
      containers:
        - name: ngnix
          image: "{{ image | default(IMAGE) }}"
          imagePullPolicy: "{{ image_pull_policy | default(IMAGE_PULL_POLICY) }}"
          imagePullSecrets:
            - name: regcred
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: nginx-config
              mountPath: /opt/bitnami/nginx/conf/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: nginx-index
              mountPath: /var/www/nginx-default/index.html
              subPath: index.html
              readOnly: true
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config-file
        - name: nginx-index
          configMap:
            name: nginx-index-file
