---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ nginx_namespace | default(NGINX_NAMESPACE) }}"
spec:
  rules:
    - host: "{{ ingress_hostname | default(INGRESS_HOSTNAME) }}"
      http:
        paths:
          - backend:
              serviceName: "{{ ansible_operator_meta.name }}"
              servicePort: 80