---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: "{{ ansible_operator_meta.name }}"
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: "{{ ansible_operator_meta.name }}"